---
import { ConfettiOne } from '../components/ConffetiOne';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="mx-auto max-w-6xl pt-36 md:pt-42">
		<h1 class="text-lg py-2.5 md:text-4xl md:font-medium md:py-6">Hello, Astronaut !</h1>
		<p class="text-lg md:text-3xl md:leading-normal tracking-tight pb-4 bg-clip-text bg-gradient-to-r text-transparent from-neutral-600 to-neutral-900 to-90% dark:bg-gradient-to-r dark:from-zinc-100 dark:to-zinc-300 dark:to-90%">
			I'm a Paris-based Web Developer with a passion for creating visually aesthetic websites that seamlessly intertwine design and functionality.
		</p>
		<ConfettiOne label="Confetis time!" buttonClassName='text-md cursor-pointer rounded-sm border-2 border-black bg-white px-4 py-2 text-black transition-all duration-500 hover:translate-x-[-2px] hover:translate-y-[0px] hover:rounded-sm hover:shadow-[10px_10px_0px_black] active:translate-x-[0px] active:translate-y-[6px] active:rounded-sm active:shadow-none md:px-8 md:py-4' client:visible />
	</div>
</Layout>