---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import ThemeToggle from './ThemeToggle';
import { PiGithubLogoLight } from 'react-icons/pi';
---

<header class="fixed w-full p-2.5 z-20 backdrop-blur-md">
	<div class="max-w-6xl text-zinc-800 dark:text-zinc-300 md:mx-auto"> 
		<nav class="flex items-center gap-12 text-base">
		  <a href="/" class="group">
			
			<h2 class="font-semibold text-xl tracking-tighter p-2">
					{SITE_TITLE}
			</h2>
			
		  </a>
		  <div class="items-center gap-6 hidden md:flex">
			<HeaderLink
			  href="https://github.com/popokola/astro-portfolio-blog"
			  target="_blank"><PiGithubLogoLight className='w-4 h-w md:h-5 md:w-5' /> Source </HeaderLink
			>
			<HeaderLink href="/blog"> Blog </HeaderLink>
			<HeaderLink href="/CV"> CV </HeaderLink>
		  </div>
		  <div class="flex-1"></div>
		  <ThemeToggle client:visible />
		  
		</nav>
	  </div>
</header>
