---
import { SITE_TITLE, HOME_URL } from '../config';
import { IoLogoMarkdown, IoLogoInstagram, IoLogoLinkedin } from 'react-icons/io5/index.js'
const today = new Date();
---

<footer class="md:pb-12 sticky top-[100vh]">
	<ul class="flex justify-center sm:pl-1 md:px-6 mx-auto max-w-3xl">
		<li>
			<a
				class="text-gray-900 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
				aria-label="Twitter"
				href="/blog"
			>
				<IoLogoMarkdown />	
			</a>
		</li>
		<li>
			<a
				class="text-gray-900 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
				aria-label="Instagram"
				href="#"
			>
				<IoLogoInstagram />
			</a>
		</li>
		<li>
			<a
				class="text-gray-900 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
				aria-label="Linkedin"
				href="https://www.linkedin.com/in/charles-parameswaralingam"
			>
				<IoLogoLinkedin />	
			</a>
		</li>
	</ul>
	
	&copy; {today.getFullYear()} <a href={HOME_URL} >Charles Parameswaralingam</a>. All rights reserved.
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
