---
import { SITE_TITLE, HOME_URL } from '../config';
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} <a href={HOME_URL} >Charles Parameswaralingam</a>. All rights reserved.
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
