---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
import ThemeToggle from './ThemeToggle';
import { IoLogoGithub } from 'react-icons/io5/index.js'
---

<header class="fixed w-full p-2 z-20 backdrop-blur-md">
	<div class="mx-auto max-w-3xl">
		<nav class="flex items-center gap-3 text-base">
		  <a href="/" class="group">
			
			<h2 class="font-semibold tracking-tighter p-2 font-mplus text-lg">
					{SITE_TITLE}
			</h2>
			
		  </a>
		  <div class="items-center gap-6 hidden md:flex">
			<HeaderLink
			  href="https://github.com/craftzdog/craftzdog-uses"
			  target="_blank"><IoLogoGithub /> Source</HeaderLink
			>
			<HeaderLink href="/blog">Blog</HeaderLink>
		  </div>
		  <div class="flex-1"></div>
		  <ThemeToggle client:visible />
		  
		</nav>
	  </div>
</header>

